* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}
.medsos {
    padding: 5px 0;
    background-color: #f1eada;
}
.medsos ul li {
    display: inline-block;
    color: black;
    margin-right: 10px;
}
.container {
    width: 80%;
    margin: 0 auto;
}

.container::after{
    content: '';
    display: block;
    clear: both;
}

header h1 {
    float: left;
    padding: 15px 0;
    color:black ;
}
header ul {
    float: right;
}
header ul li {
    display: inline-block;

}
header ul li a {
    padding: 25px 20px;
    display: inline-block;
}
header ul li a:hover{
    background-color: #f1eada;
    color: aliceblue;
}
.active {
    background-color: #f1eada;
    color: black; 
}
.benner {
    height: 60vh;
    background-image: url('../img/benner.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.benner:after{
    content:'';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(241,234,218, .4);
}
.benner h2 {
    color: black;
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid #fff;
}
section {
    padding: 50px 0;
}
section h3 {
    text-align: center;
    padding: 20px 0;
    color: black;
    margin-bottom: 20px;
}
.about p {
    color: #666;
    word-spacing: 2px;
    line-height: 25px;
}
.portofolio {
    text-align: center;
    background-color: #f9f9f9;
    word-spacing: 2px;
    line-height: 25px;
}
.blog {
    text-align: center;
    background-color: #f9f9f9;
    word-spacing: 5px;
    line-height: 30px;
}
